
<!-- Include Head -->
<%- include('./partials/head') %>

<body>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/index" method="get">
				
				<div>				
					<label for="usuario">Usuario: </label>
					<input id="usuario" type="text" name="usuario" value="">
				</div>

				<div>
					<label for="contrase単a">Contrase単a: </label>
					<input id="contrase単a" type="password" name="contrase単a" value="">
				</div>

				<div>
					<label for="recordarme">Recordarme: </label>
					<input type="checkbox" name="Recordarme" value="Recordarme">
				</div>
				<div>
					<button type="submit">Enviar</button>
				</div>
			</form>

	<!-- footer -->
	<%- include('./partials/footer') %>
</body>

</html>