
<!-- Include Head -->


<body>
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headLogueado') %>
	 <% } else { %>
		<%- include('./partials/head') %>
	<% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar producto</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/index" method="get">
				
				<div>
					<label for="fotoProducto">Foto del producto: </label>
					<input id="fotoProducto" type="file" name="fotoProducto" value="">
				</div>

				<div>
					<label for="nombreProducto">Nombre del producto: </label>
					<input id="nombreProducto" type="text" name="nombreProducto">
				</div>

				<div>
					<label for="descripcion">Descripcion: </label>
					<input id="descripcion" type="text" name="descripcion">
				</div>

				<div>
					<button type="submit">Enviar</button>
				</div>
			</form>



	<!-- footer -->
	
	<%- include('./partials/footer') %>

</body>

</html>