<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<form action="/index" method="get">
				<div>
					<label for="email">Email: </label>
					<input id="email" type="email" name="email" value="">
				</div>

				<div>				
					<label for="usuario">Usuario: </label>
					<input id="usuario" type="text" name="usuario" value="">
				</div>

				<div>
					<label for="contraseña">Contraseña: </label>
					<input id="contraseña" type="password" name="contraseña" value="">
				</div>

				<div>
					<label for="cumpleaños">Fecha de nacimiento: </label>
					<input id="cumpleaños" type="text" name="cumpleaños" value="">
				</div>

				<div>
					<label for="dni">Numero de documento: </label>
					<input id="dni" type="text" name="dni" value="">
				</div>

				<div>
					<label for="foto">Foto de perfil: </label>
					<input id="foto" type="file" name="foto" value="">
				</div>


				<div>
					<button type="submit">Enviar</button>
				</div>
			</form>

	<!-- footer -->
	<%- include('./partials/footer') %>
</body>

</html>